   body {
       font-family: Arial, sans-serif;
       display: flex;
       flex-direction: column;
       justify-content: start;
       align-items: center;
       height: 100vh;
       background-color: #f4f4f4;
   }

   .radio-container {
       margin-top: 50px;
       background: white;
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: 300px;
       text-align: center;
   }

   .radio-container>div>p {
       font-weight: bold;
   }

   .radio-group {
       display: flex;
       justify-content: space-around;
       border: none;
       margin-top: 20px;
   }

   .radio-group label {
       font-weight: normal;
       display: flex;
       align-items: center;
       gap: 5px;
   }

   .checkbox-container {
       margin-top: 50px;
       background: white;
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: 300px;
       text-align: center;
   }

   .checkbox-container>p {
       font-weight: bold;
   }

   .checkbox-group {
       display: flex;
       flex-direction: column;
       gap: 10px;
       margin-top: 20px;
   }

   .dropdown-group {
       display: flex;
       flex-direction: column;
       gap: 15px;
       margin-top: 10px;
   }

   .dropdown-container {
       margin-top: 50px;
       background: white;
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: 300px;
       text-align: center;
   }

   .dropdown-container>div>p {
       font-weight: bold;
   }

   .alert-container {
       margin-top: 50px;
       background: white;
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: 300px;
       text-align: center;
   }

   .alert-container>p {
       font-weight: bold;
   }

   .tab-container {
       margin-top: 50px;
       background: white;
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: 300px;
       text-align: center;
   }

   .tab-container p {
       font-weight: bold;
   }

   .iframe-container {
       margin-top: 50px;
       background: white;
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: 600px;
       text-align: center;
   }

   .iframe-container p {
       font-weight: bold;
   }

   .table-container {
       margin-top: 50px;
       background: white;
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: 600px;
       text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .table-container p {
       font-weight: bold;
   }

   .table-container table {
       border: 1px solid rgb(185, 182, 182)
   }

   .table-container table thead {
       background-color: aliceblue;
   }